{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<b>For End-Users (People Raising Tickets)</b>

Our platform lets you submit issues quickly and get routed to the right support team automatically, reducing delays. You’ll experience faster resolutions and higher CS.
<hr>
<b>For Help Desk Agents / Resolution Teams</b>

The system streamlines ticket intake by intelligently categorizing and prioritizing requests using machine learning, cutting out repetitive admin and enabling staff to focus on high-value problem-solving. 
<hr>


<p>This application is made with python flask, and is running on a VPS server (linode). There is a CICD pipeline that pushes changes from a github repository to the server.</p>
{% endblock %}

