{% extends "base.html" %}

{% block title %}update password{% endblock %}

{% block content %}
<h2>update password</h2>

<form method="post" action="{{ url_for('main.login') }}">
    <label for="current password">Username</label>
    <input id="currentPassword" name="currentPassword" type="password" required>

    <label for="new password">Password</label>
    <input id="newPassword" name="new password" type="password" required>

    <label for="confirm new password">Password</label>
    <input id="confirmPassword" name="confirm Password" type="password" required>

    <button type="submit">Login</button>
</form>
{% endblock %}